<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
      </div>
      <div class="desc">真正记录生活的点滴</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2020 <a href="//github.com/DesignHhuang" target="_blank">黄小民</a> 出品
    </global-footer>
  </div>
</div>