<nz-spin [nzSpinning]="userLoading">
  <div class="main" *ngIf="user">
    <div class="left">
      <form nz-form nzLayout="vertical" #f="ngForm" (submit)="save()" se-container="1">
        <se label="邮箱" error="请输入您的邮箱!">
          <input nz-input type="email" [(ngModel)]="user.email" name="email" required />
        </se>
        <se label="昵称" error="请输入您的昵称!">
          <input nz-input [(ngModel)]="user.nickname" name="nickname" required />
        </se>
        <se label="真实姓名" error="请输入您的真实姓名!">
          <input nz-input [(ngModel)]="user.fullname" name="fullname" />
        </se>
        <se label="个人简介">
          <textarea nz-input [(ngModel)]="user.profile" name="profile" [nzAutosize]="{ minRows: 4, maxRows: 10 }"
            placeholder="个人简介"></textarea>
        </se>
        <se label="国家/地区">
          <nz-select [(ngModel)]="user.country" name="country" required>
            <nz-option nzLabel="中国" nzValue="China"></nz-option>
          </nz-select>
        </se>
        <se label="住址" error="请输入您的住址!">
          <input nz-input [(ngModel)]="user.address" name="address" required />
        </se>
        <se label="联系电话" error="请输入您的联系电话!">
          <input nz-input [(ngModel)]="user.mobile" name="mobile" required />
        </se>
        <se>
          <button nz-button nzType="primary" [disabled]="f.invalid">更新基本信息</button>
        </se>
      </form>
    </div>
    <div class="right">
      <div class="avatar_title">头像</div>
      <div class="avatar"><img [src]="avatar" alt="Avatar" /></div>
      <nz-upload [nzAction]="actionUrl" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)"
        [nzShowUploadList]="false">
        <button nz-button class="button_view" [nzLoading]="loading">
          <i nz-icon nzType="upload"></i>
          <span>更换头像</span>
        </button>
      </nz-upload>
    </div>
  </div>
</nz-spin>