<page-header [title]="'写点东西吧'">
  随便记录一点什么，这是一个真实的世界。
</page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit($event,form.value)" se-container="1" labelWidth="200">
    <se label="记录什么呢" error="请输入内容" required>
      <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 6 }"
        placeholder="想想有咩有什么好玩的事情哇，有没有遇到好的句子啊什么的"></textarea>
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">提交</button>
    </se>
  </form>
</nz-card>